/* You can add global styles to this file, and also import other style files */

.margen{
    margin-bottom: 60px;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 70px;
}

.color{
    color:white !important;
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
